/*container*/

*{
	padding:0;
	margin: 0 auto;

}
.container-all{
	position:absolute;
	top:0;
	left:0;
	z-index:11;
	width:100%;
	height:100%;
}

.container-font{
	color:#E84209;
	margin-top:3%;
	text-shadow: 2px 2px 0px #000000;
}

/* brand*/
.brand-hidden{margin-left: 10%; margin-top: -12%;}
.brand-visible{margin-left: 1%; margin-top: -20%;}

/*Jumbtron*/
.jumb-fluid{
	background-size: cover;
	width:100%; 
	height:0;
	min-height:100%;	
	background-repeat: no-repeat;
	background-position: center !important;
}
.jumb-logo{
	height:auto;
	background-color: inherit;
	margin-top: 100px;
}
.jumb-menu{margin-bottom: 5%;}
.jumb-margem{margin-top: -3%;}

/*buttons*/
.btn-hamburger{margin-top: 5%;}
.btn-portfolio{background-color: transparent; border-radius: 30px;}
.btn-enviar-style{
	float: right; 
	margin-right: -1%; 
	color: #b2b2b2; 
	background-color: transparent; 
	border-radius: 20px; 
	font-size: 26px; 
	text-decoration: none !important; 
}

.btn-enviar-hidden{
	width: 200px;
}

/*personalizacao de glyphicon*/
.gly-hamburger{color:#ff4a1b !important;}

/*menu*/
.menu-margin{margin-right: 6%;}
.menu-link-fb{margin-top:40%;}
.menu-link-dec{text-decoration: none !important;}
.menu-ul-dec{list-style-type: none;}
.texto-menu:hover{text-decoration: none !important;}
/*sobre*/
.p-padding{padding: 4px;}
.sobre-margin{margin-bottom: 4%;}
.fonte-sobre{
	color:#ff4a1b !important;
	margin-top:3%;
	text-shadow: 1px 2px 0px #545454;
}

/*backgrounds*/
.background-white{background-color: #FFFFFF;}


/*tipografias*/

.fonte-open{font-family: 'Open Sans Condensed';}
.fonte-one{font-family: 'Poiret One';}
.fonte-julius{font-family: 'Julius Sans One';}

/*font sizes*/
.size-12{
	font-size: 12px;
}
.size-28{
	font-size: 28px !important;
}
.size-26{
	font-size: 26px !important;
}
.size-30{
	font-size: 30px !important;
}
.size-36{
	font-size: 36px !important;
}
.size-68{
	font-size: 68px !important;
}
.size-64{
	font-size: 64px !important;
}
.size-62{
	font-size: 64px !important;
}
.size-78{
	font-size: 78px !important;	
}


.sombra{
	box-shadow: 0px 2px 0px #363636;
	-webkit-box-shadow: 0px 2px 0px #363636;
	-moz-box-shadow: 0px 2px 0px #363636;
}
#imagem-principal{
	background-image: url(../fundo/home.jpg)!important; 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}
/*margens*/

#margem-texto{margin-top: -10px;}
.margem-esquerda{margin-left: 5%;}

/*alinhamento*/
.alinhar-direita{text-align: right;}
.alinhar-esquerda{text-align: left;}

/*imgs*/
.tam-imagem{
	width: 160px;
	height: 160px;
}
.img-margem-direita{
	margin-right: 5px;
}

.fundo-branco{
	backgrouposition: relative;nd: #ffffff;
}
.alinhar-centro{
	text-align: center;
}
.main{
	display: inline-block;
	padding: 0;
}
.main img{
	width: 70%;
	height: 70%;
	margin-left: 15%;
}
.snake{
	position: relative;
	overflow: hidden;
}
.overlay{
	position: absolute;
	opacity: 0.9;
	text-align: left;
	padding-top: 60px;
}
.overlay .title{
	font-size: 15px;
	font-weight: bold;
	display: block;
	width: 100%;
}
.azul{
	background-color:  #179AA3;
}
.laranja-claro{
	background-color: #f7c8ba;
}
.laranja{
	background-color:  #FF8C00;
}
.limao{
	background-color: #83FF23;
}
.cinza{
	color: #574d4a !important;
}
/*font colors*/
.font-laranja{
	color: #ff4a1b;
}
.fonte-branco{
	color: #ffffff !important;
}
.fonte-gray-first{color:#919191 !important;}
.fonte-gray-second{color:#b2b2b2 !important;}
.input-form{ background-color: inherit; box-shadow: 0 0 0 0 !important; border-color: none;}
a[href="#top"]{
	padding:10px;
	position:fixed;
	top: 90%;
	right:40px;
	display:none;
	font-size: 30px;
}
a[href="#top"]:hover{
	text-decoration:none;
	color: #179AA3;
}
a[href="#top"]:visited{
	text-decoration:none;
	color: #179AA3;
}
.style-3 input[type="text"] {
	padding: 6px;	
	border:solid 1px #FFF;
	background-color: #FFF;
}

.style-3 textarea {
	padding: 6px;	
	border:solid 1px #FFF;
	background-color: #FFF;
	/*transition: box-shadow 0.3s, border 0.3s;*/
}

.enviar:hover{
	background-color: #b2b2b2 !important;
	color: #FFFFFF !important;
}
.menu-fonte:hover{
	background-color: inherit !important;
}
.footer{
	text-align: center;
	padding: 2px;
}

a:link, a:visited {
	text-decoration: none !important;
	background-color: inherit !important;
}
 div.center-form {
    position: relative;
    min-height: 100vh;
  }

  div.center-form > form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }