*{
	margin:0;
	padding:0;
}
.container-all{
	position:absolute;
	top:0;
	left:0;
	z-index:11;
	width:100%;
	height:100%;
}
.jumb-fluid{
	background-size: cover;
	width:100%; 
	height:0;
	min-height:100%;
	background-repeat: no-repeat;
    background-position: center !important;
}
.jumb-logo{
	height:auto;
	background:#FFF5EA;
	margin-top: 100px;
}
.container-font{
	color:#E84209;
	margin-top:3%;
	text-shadow: 2px 2px 0px #000000;
}
.fonte-sobre{
	color:#179AA3;
	margin-top:3%;
	text-shadow: 2px 2px 0px #000000;
}
.fundo-branco{
	background-color: #FFFFFF;
}

/*tipografias*/

.fonte{font-family: 'Open Sans Condensed';}
.fonte-home{font-family: 'Oswald';}
.font-julius{
	font-family: 'Julius Sans One';
}

/*tamanhos*/

.size-28{
	font-size: 28px !important;
}
.size-68{
	font-size: 68px;
}
.jumb-margem{
	margin-top: -7%;"
}
.sombra{
 	box-shadow: 0px 2px 0px #363636;
    -webkit-box-shadow: 0px 2px 0px #363636;
    -moz-box-shadow: 0px 2px 0px #363636;
}
#imagem-principal{
	background-image: url(../fundo/wallpaper.png)!important;
}
#margem-texto{
	margin-top: -10px;
}
#margem-sobre{
	margin-top: 4%;
}
#font-170{
	font-size: 170px;
}
#font-78{
	font-size: 78px;
}
.alinhar-direita{
	text-align: right;
}
.size-36{
	font-size: 36px;
}
.tam-imagem{
	width: 160px;
	height: 160px;
}
.img-margem-direita{
	margin-right: 5px;
}
.texto-menu{color: #1C1C1C;}
.texto-menu:hover{text-decoration: underline;color:#F07A5C;}
.navbar-nav:hover{}
.fundo-branco{
	background: #ffffff;
}
.alinhar-centro{
	text-align: center;
}

.main{
			display: inline-block;
			padding: 0;
		}
		.main img{
			width: 70%;
			height: 70%;
			margin-left: 15%;
		}
		.snake{
    		position: relative;
    		overflow: hidden;
    	}
    	.overlay{
    		position: absolute;
    		opacity: 0.9;
    		text-align: left;
    		padding-top: 60px;
    	}
    	.overlay .title{
    		font-size: 15px;
    		font-weight: bold;
    		display: block;
    		width: 100%;
    	}
.paula-matos{
	background-color: #E8E8E8;
}
.bem-caseira{
	background-color: #FFD39B;
}
.aviacom{
	background-color: #FFDAB9;
}
.daniela-bendo{
	background-color: #FFFACD;
}
.cdl{
	background-color: #C6E2FF;
}
.overley-pm{
	background-color:  #00BFFF;
}
.laranja{
	background-color:  #FF8C00;
}
.overley-ac{
	background-color: #FF0000;
}
.overley-db{
	background-color: #FFD700;
}
.overley-cl{
	background-color: #00008B;
}
.roxo{
	background-color: #800080;
}
.cinza-escuro{
	background-color: #4F4F4F;
}
.cinza-claro{
	background-color: #D4D4D4;
}
.eduardo{
	background-color: #E4C0FC;
}

.font-laranja{
	color: #FF8C00;
}


