.fonte{font-family: 'Open Sans Condensed';}





.texto-principal{font-family:'Open Sans Condensed';text-align: center; color: #000000;}
.texto-menu{color:#000000;}
.sanduiche{background: #000000 !important;}
.sem-pad{padding: 0 0 0 0;}
.red{width: 7%;height: 7%;}
.sem-margem{margin-top: 0px;}
.margem-menu{margin-top: 20px;}
a:hover{color:#FFF;}
@media only screen and (min-width: 40rem) {
.logo{margin-top:15px;top:-6px;width: 10%; height: 10%;position: absolute;left: 50%;right: 50%; margin-left: -59px;}}
.logo-small {float: right; width: 20%;height: 20%; }
.inicial{background-color: #242424;color:#E5E5E5;text-align:center;display: table;  position: relative;width: 100%;margin: 0;}


		